@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var data = TreeGridItems.GetTreeData();
}

<div class="text-center">
    <ejs-treegrid id="TreeGrid" dataSource="@data" allowFiltering="true" allowPaging="true" allowSorting="true" childMapping="Children" treeColumnIndex="1">
        <e-treegrid-filtersettings type="FilterBar" hierarchyMode="Parent" mode="Immediate"></e-treegrid-filtersettings>
        <e-treegrid-pagesettings pageSize="10"></e-treegrid-pagesettings>
        <e-treegrid-columns>
            <e-treegrid-column field="TaskId" headerText="Task ID" textAlign="Right" width="70"></e-treegrid-column>
            <e-treegrid-column field="TaskName" headerText="Task Name" width="200"></e-treegrid-column>
            <e-treegrid-column field="StartDate" headerText=" Start Date" textAlign="Right" format="yMd" type="date" width="100"></e-treegrid-column>
            <e-treegrid-column field="Duration" headerText="Duration" textAlign="Right" width="90"></e-treegrid-column>
        </e-treegrid-columns>
    </ejs-treegrid>
</div>
