@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class='wrap'>
        <ejs-signature id="signature"></ejs-signature>
    </div>

    <style>
    .wrap {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

    #signature {
        border: 1px solid lightgray;
        height: 100%;
        width: 100%;
    }
    </style>
</div>
