@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ejs-lineargauge id="linear" orientation="Horizontal">
        <e-lineargauge-axes>
            <e-lineargauge-axis minimum="0" maximum="200">
            </e-lineargauge-axis>
        </e-lineargauge-axes>
    </ejs-lineargauge>
</div>
