@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ejs-maskedtextbox id="mask1" mask="000-000-0000" placeholder="MaskedTextBox" floatLabelType="Always">
    </ejs-maskedtextbox>
</div>
