@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="control-section">
    <div class="control_wrapper TextBox-control-section">
        <ejs-textbox id="firstname" placeholder="First Name" floatLabelType="Auto"></ejs-textbox>
    </div>
</div>