@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<div id='element'>
    <h1>Badge Component <span class="e-badge e-badge-primary">New</span></h1>
</div>
<style>
#element {
    display: flex;
    width: 1000px;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 3px;
    justify-content: center;
}
</style>
</div>
