@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class='wrap'>
        <h4>Choose color</h4>
        <ejs-colorpicker id="element" inline="false"></ejs-colorpicker>
    </div>

    <style>
        .wrap {
            margin: 0 auto;
            width: 300px;
            text-align: center;
        }
    </style>
</div>
