@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ejs-progressbutton id="spinleft" content="Spin Left" enableProgress="true"></ejs-progressbutton>
</div>
