@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ejs-radiobutton id="radio1" label="Option 1" name="state" checked="true"></ejs-radiobutton>
    <ejs-radiobutton id="radio2" label="Option 2" name="state"></ejs-radiobutton>
</div>
