@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var elementModel = new { placeholder = "Enter your name" };
    var dateValue = new DateTime(2018, 12, 04);
    var dateModel = new { showTodayButton = true, placeholder = "Select date of birth" };
    string[] genderData = new string[] { "Male", "Female" };
    var genderModel = new { placeholder = "Select gender", dataSource = genderData };
    var elementValue = "Andrew";
    var dropValue = "Male";
}

<div class="text-center">
    <div id='container'>
        <div class="control-group">
            <div class="e-heading">
                <h3> Modify Basic Details </h3>
            </div>
            <table>
                <tr>
                    <td>Name</td>
                    <td class='left'>
                        <ejs-inplaceeditor id="element" value="elementValue" model="elementModel" mode='Inline'>
                        </ejs-inplaceeditor>
                    </td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td class='left'>
                        <ejs-inplaceeditor id="dateofbirth" type="Date" value="dateValue" model="dateModel" mode='Inline'>
                        </ejs-inplaceeditor>
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td class='left'>
                        <ejs-inplaceeditor id="gender" type="DropDownList" value="dropValue" model="genderModel" mode='Inline'>
                        </ejs-inplaceeditor>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <style>
        #container .control-group {
            margin-top: 50px;
        }

            #container .control-group table {
                margin: auto;
            }

                #container .control-group table td {
                    height: 70px;
                    width: 150px;
                }

        #container .e-heading {
            text-align: center;
        }

        #container .control-group table td {
            text-align: left;
        }
    </style>
</div>
