@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ejs-progressbar id="container" type='Linear' height='60' minimum="0" maximum="100" value=40 secondaryProgress='60'>
    </ejs-progressbar>
</div>
