@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p> Size-modes for application </p>
<p> This demo shows the Size-Modes applied for Syncfusion Control </p>

<button id="touch">Touch Mode</button>
<button id="mouse">Mouse Mode</button>

<div class="control">
    <ejs-calendar id="calendar"></ejs-calendar>
</div>

<div class="control">
    <ejs-button id="element" content="Button"></ejs-button>
</div>

<div class="control">
    <ejs-checkbox id="default" label="Checked" checked="true"></ejs-checkbox>
</div>

<style>
    .e-bigger {
        font-size: x-large;
    }
</style>

<script>
    document.getElementById("touch").addEventListener("click", function () {
        var controls = document.querySelectorAll('.control');
        for (var index = 0; index < controls.length; index++) {
            controls[index].classList.add('e-bigger');
        }
    });

    document.getElementById("mouse").addEventListener("click", function () {
        var controls = document.querySelectorAll('.control');
        for (var index = 0; index < controls.length; index++) {
            controls[index].classList.remove('e-bigger');
        }
    });
</script>